.card {
  min-height: 15rem;
  min-width: 30rem;
  padding: 1rem;
  margin: 0rem;

  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(255, 255, 255, 0.838);
  background-color: rgb(255, 255, 255);
  color: black;
}
